body {
    background-color: #1F1F1F;
    width: 560px;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
table {
    width: 560px;
    border-spacing: 0.0em 0.0em;
}
a {
    color: #529FBF;
}
span {
    color: #529FBF;
}
div.headline {
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    font-size: 18px;
    font-weight: bold;
}
div.title {
    font-weight: bolder;
    font-size: large;
    padding-top: 0.2em; padding-bottom: 0.2em;
}
h3 {
    font-size: 1.5em;
    color: #D4D4D4;
    float: left;
    margin-top: 0px;
margin-bottom: 0.2em;}
td {
    
    padding: 0.3em 0.3em;
    min-width: 45px;
    max-width: 140px;
border-top: 1px solid #333; color: #9E9E9E;}
div.store {
    font-size: 0.7em;
    text-decoration: underline;
padding: 1px;}
div.close {
    font-family: arial;
    color: white;
    float: right;
    display: inline-block;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid white;
}
div.old {
    color: red;
    text-decoration: line-through;
    display: inline-block;
}
div.new {
    color: green;
    display: inline-block;
}
div.savings {
    font-size: large;
    font-weight: bolder;
}
